<!DOCTYPE html>
<html>
<head>
    <style>
        body{
            background-color: #EBEBEB;
        }
        #emailDiv {
            margin: 0 auto;
            margin-top: 200px;
            width: 30vw;
            background-color: #FFF;
            border-left: 50px solid #1C5E3C;
            color: #1C5E3C;
            padding: 50px;
            font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif !important;
        }
        h1{
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
    <div id="emailDiv">
        <h1>{{ orderNumber }}<h1>
        <h2>{{ seatNumber }}<h2>
        <h2>{{ firstName}}<h2>
        <h2>{{ lastName }}<h2>
    </div>
</body>
</html>