body {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	background-color: #ECECEC !important;
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif !important;
}

.head{
	font-weight: 400;
	font-size: 20px;
	background-color: #1C5E3C;
}
.navbar{
	background-color: #1C5E3C !important;
	padding-top: 0;
	padding-bottom: 0;
}
.nav-link{
	padding: .3rem 0rem;
}
.text-decoration-underline{
	background-color: #1C5E3C;
}
h1,h2,h3,h4,h5,h6,p,a,li{
	color: #1C5E3C !important;
}
i{
	color: #ECECEC;
}
.carousel-dark .carousel-indicators [data-bs-target] {
	background-color: #1C5E3C;
  }
.invert {
  
  	-webkit-filter: invert(100%);
  	filter: invert(100%);
}
.bottom-border {
  	border-bottom: 1px solid #1C5E3C;
}
footer {
	font-weight: 400;
	font-size: 40px;
	background-color: #1C5E3C;
	color: #ECECEC !important;
}
.center-item{
	margin: auto;
}
a{
	text-decoration: none !important;
	color: #ECECEC !important;
}
form{
	background-color: #FFFFFF;
	border-color: #1C5E3C !important;
	border-left-style: solid;
    border-left-width: 50px;
	max-width: 600px;
}
.form-control,
.form-control-plaintext
{
	border: none !important;
	border-bottom: 1px solid #ECECEC !important;
	background-color: #FFF !important;
	max-width: 80%;
}
.form-select{
	padding: .375rem .75rem !important;
}
.btn-primary{
	border-radius: 0 !important;
	background-color: #1C5E3C !important;
	border-color: #1C5E3C !important;
	min-width: 300px;
    font-size: 24px;
}
.btn-secondary{
	border-radius: 18px !important;
	background: none !important;
	border-color: #ECECEC !important;
	border-width: 3px;
}
:root {
	--bs-primary: #1C5E3C !important;
}
textarea {
	resize: none;
}  
button{
	color: #FFF !important;
}
*:focus {
	box-shadow: none !important;
}
.border{
	border-radius: 10px;
	border-width: 2px !important;
}
i{
    color: #1C5E3C;
} 
@media (max-width: 767px) {
	.swap-container {
	flex-direction: column-reverse !important;
	}
}
.form-select{
	border: none !important;
	border-bottom: 1px solid #ECECEC !important;
	background-color: #FFF !important;
	max-width: 80% !important;
	border-radius: 0px;
}
 select, option{
    color: #1C5E3C !important;
}
.selected{
	color: #6C757D !important;
}

/*VueDatePicker*/
.dp__input{
	padding: 0px 0px !important;
	border: none !important;
  }
  .dp__arrow_top{
	display: none;
  }
  .dp__range_end, .dp__range_start, .dp__active_date{
	background: #1C5E3C !important;
  }
  .dp__today{
	border: 1px solid #1C5E3C !important;
  }