@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	background-color: #ECECEC !important;
	font-family: 'Montserrat', sans-serif !important;
}
.head{
	font-weight: 400;
	font-size: 20px;
	background-color: #1C5E3C;
}
.navbar{
	background-color: #1C5E3C !important;
	padding-top: 0;
	padding-bottom: 0;
}
.nav-link{
	padding: .3rem 0rem;
}
.text-decoration-underline{
	background-color: #1C5E3C;
}
h1,h2,h3,h4,h5,h6,p,a{
	color: #1C5E3C !important;
}
i{
	color: #ECECEC;
}
.carousel-dark .carousel-indicators [data-bs-target] {
	background-color: #1C5E3C;
  }
.invert {
  
  	-webkit-filter: invert(100%);
  	filter: invert(100%);
}
.bottom-border {
  	border-bottom: 1px solid #1C5E3C;
}
footer {
	font-weight: 400;
	font-size: 40px;
	background-color: #1C5E3C;
	color: #ECECEC !important;
}
.center-item{
	margin: auto;
}
a{
	text-decoration: none !important;
	color: #ECECEC !important;
}
form{
	margin: auto;
	background-color: #FFFFFF;
}
.form-control,
.form-control-plaintext
{
	border: none !important;
	border-bottom: 1px solid #ECECEC !important;
	background-color: #FFF !important;
	width: 80% !important;
	margin: auto;
}
.btn-primary{
	border-radius: 0 !important;
	background-color: #1C5E3C !important;
	border-color: #1C5E3C !important;
	min-width: 100px;
}
form{
    border-color: #1C5E3C !important;
	border-left-style: solid;
    border-left-width: 50px;
}

:root {
	--bs-primary: #1C5E3C !important;
}
textarea {
	resize: none;
}  
button{
	color: #FFF !important;
}
*:focus {
	box-shadow: none !important;
}
select{
	color: #FFF !important;
	background-color: #1C5E3C !important;
	border: none !important;
	font-size: 22px !important;
}
.border{
	border-radius: 10px;
	border-width: 2px !important;
}

/*VueDatePicker*/
.dp__input{
	width: 0 !important;
	padding: 6px 20px !important;
	border-bottom-right-radius: 15px !important;
	border-top-right-radius: 15px !important;
  }
  .dp__arrow_top{
	display: none;
  }
  .dp__range_end, .dp__range_start, .dp__active_date{
	background: #1C5E3C !important;
  }
  .dp__today{
	border: 1px solid #1C5E3C !important;
  }